[flake8]
ignore =
    ;W503 line break before binary operator
    W503,
    ;E203 whitespace before ':'
    E203,
    D100,
    D101,
    D102,
    D103,
    D104,
    D105,
    D107,
    D200,
    D205,
    D400,

exclude =
    *migrations*,
    # python related
    *.pyc,
    .git,
    __pycache__,
    */node_modules/*
    ./static/*
    ./sites/*
    ./iam/*

max-line-length=120
max-complexity=26
format=pylint
show_source=False
statistics=True
count=True
