graft xTool
include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include NOTICE
include DISCLAIMER
include CHANGELOG.txt
include README.md

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude dist *

recursive-include docs *.rst conf.py Makefile make.bat
