numpy
psutil
future
jinja2
pendulum
croniter
tabulate
Cython
cryptography
multidict
six
future
httptools
gunicorn
websockets
httpx
websockets
ujson
PyYAML>=5.1
trio
cython
ipaddress
beautifulsoup4
aiohttp
async_timeout
pytest
pytest-sanic
pyatfork
# 用于sanic指定版本
httpx==0.11.1
