numpy
psutil
future
jinja2
pendulum
croniter
tabulate
Cython
cryptography
multidict
future
httptools
gunicorn
websockets
httpx
websockets
ujson==4.1.0
PyYAML>=5.1
trio
ipaddress
beautifulsoup4
aiohttp
async_timeout
netifaces
typing_extensions
statsd==3.3.0
rapidjson
python-snappy
tzlocal
speaklater
curlify
pymysql
django==3.2.12
djangorestframework
markdown
django-filter
# hiredis
redis==4.3.6
redis-py-cluster==2.1.0

# celery
celery==4.4.7
django-celery-beat==2.2.0
django-celery-results==2.0.1

opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation-django
opentelemetry-instrumentation-elasticsearch
opentelemetry-instrumentation-dbapi
opentelemetry-instrumentation-redis
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-celery
opentelemetry-instrumentation-logging
pygments
cachetools
wirerope
kafka-python
arrow
async-timeout>=4.0.2
bamboo-pipeline==3.24.2
django_celery_results
mysqlclient

uhashring
