yapf
flake8
pytest==6.2.5
pytest-cov==3.0.0
pytest-django==4.4.0
pytest-xdist==2.4.0
pytest-html==3.1.1
pytest-env==0.6.2
pytest-dotenv==0.5.2
pytest-mock==3.6.1
mock==4.0.3
#pytest-sanic==1.7.1
httpx==0.11.1