pre-commit==2.17.0
flake8==5.0.4
isort==5.10.1
pyproject-flake8==5.0.4.post1
attrs==22.1.0
coverage==6.2
mock==4.0.3
pycodestyle==2.9.1
pytest==7.0.1
pytest-cov==3.0.0
pytest-django==4.5.2
pytest-dotenv==0.5.2
pytest-env==0.6.2
pytest-html==3.1.1
pytest-mock==3.6.1
pytest-xdist==2.5.0
python-dotenv==0.20.0
# pytest-sanic==1.7.1
fakeredis==1.7.4
mockredispy==2.9.3
xmlrunner==1.7.7
httpx==0.11.1
