requests>=2.7.0
repoze.lru>=0.6
psutil>=2.2.1
pika>=0.9.14
zope.interface>=4.1.2
#twisted>=15.1.0
torndb
#MySQL-python==1.2.5
#pexpect
pyDes
#pycrypto
httpsig
mccabe
pyflakes
six
hacking
flake8-print
colorama
pytest
cov-core
pytest-cov